* {
    margin: 0;
    border: 0;
    box-sizing: border-box
}

::after {
    box-sizing: border-box
}


body{
    display:flex;
    flex-direction: column;
    height: 100vh;
}
#code-wrapper{
    flex: 1;
    height: 50%;
    
}
#code{
    margin-left: 20px;
    overflow: hidden;
    height: 100%;
}
#preview-wrapper{
    flex:1;
    height: 50%;
}

